.product-details {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .product-details h2 {
    font-size: 24px;
    
    margin-bottom: 10px;
  }
  
  .product-details p {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .product-details img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .product-details button {
   padding: 1%;
   margin-left: 3vh;
   margin-top: 3vh;
  }